<label for="{{controlId}}" class="control-label">
  <span class="label-text">{{label}}</span>
</label>
{{bs-datetimepicker name=name
  id=controlId
  date=value
  format=format
  updateDate=(action (mut value))
  minDate=minDate
  maxDate=maxDate
  disabledDates=disabledDates
  enabledDates=enabledDates
  forceDateOutput=forceDateOutput
  dateIcon=dateIcon}}

{{#each errorMessages as |msg|}}
  <div class="help-block error-text">{{msg}}</div>
{{/each}}
{{yield}}

