<label for="{{name}}" class="control-label">
  <span class="label-text">{{label}}</span>
</label>
<div class={{if shouldInputGroup 'input-group'}}>
  {{#if prefix}}
    <span class="input-group-addon">
      {{#if faPrefix}}
        <i class="fa {{prefix}}"></i>
      {{else if glyphPrefix}}
        <span class="glyphicon {{prefix}}" aria-hidden=true></span>
      {{else}}
        {{prefix}}
      {{/if}}
    </span>
  {{/if}}
  {{textarea class="form-control"
    value=(mut value) 
    name=name
    rows=rows
    cols=cols
    placeholder=placeholder
    disabled=disabled
    maxlength=maxlength
    tabindex=tabindex
    selectionEnd=selectionEnd
    selectionStart=selectionStart
    selectionDirection=selectionDirection
    wrap=wrap
    readonly=readonly
    autofocus=autofocus
    form=form
    spellcheck=spellcheck
    required=required}}
  {{#if suffix}}
    <span class="input-group-addon">
      {{#if faSuffix}}
        <i class="fa {{suffix}}"></i>
      {{else if glyphSuffix}}
        <span class="glyphicon {{prefix}}" aria-hidden=true></span>
      {{else}}
        {{suffix}}
      {{/if}}
    </span>
  {{/if}}
</div>
{{#each errorMessages as |msg|}}
  <div class="help-block error-text">{{msg}}</div>
{{/each}}
{{yield}}
