<h2 id="title">Welcome to Ember.js</h2>
{{#em-form-for model=model mistakes=mistakes action="submit"}}
  {{partial "fixture"}}
{{/em-form-for}}

<div>
  {{model.email}}
  {{model.expectedAt}}
</div>
<div>
  {{mistakes.email}}
  {{mistakes.expectedAt}}
</div>
{{outlet}}
