<h2 id="title">Welcome to Ember.js</h2>
{{#em-form-for model=model mistakes=mistakes action="submit"}}
  {{partial "fixture"}}
{{/em-form-for}}

<div>
  {{model.email}}
</div>
<div>
  {{model.expectedAt}}
</div>
<div>
  {{log model.mugshots}}
  {{#each model.mugshots as |mugshot|}}
    <img src={{mugshot.name}}>
    <span>{{mugshot}}</span>
  {{/each}}
</div>
{{outlet}}
